[2016-12-22 14:44] DanyFS opened #2 "Be able to reorder items in menu"

[2016-12-22 14:45] DanyFS opened #3 "Validate connexion to Facebook by pinging page every minutes"

[2016-12-22 14:45] DanyFS opened #4 "Do not accept (validation) undefined value in items of menu"

[2016-12-22 14:47] DanyFS opened #5 "Add pop-over on question mark with associated documentation (markdown)"

[2016-12-22 14:49] DanyFS opened #6 "Import and export configuration"

[2017-01-12 23:20] akapei opened #7 "quick_reply payloads return as different string"
I am setting my quick reply payloads as a simple string e.g. payload: "MORE" but when I look in the logs it shows something like:

[code]

It is a problem because I can't listen for the payload string I have set. Not sure why it is doing this.

[2017-01-13 01:36] slvnperron commented on #7
@akapei that's weird. Can you share how you define the payload?

Here's how we do it in the Boost bot and works fine: https://github.com/botpress/Boost/blob/master/index.js#L24

[2017-01-13 09:56] AlexGustafsson opened #8 "Verify that ngrok url has changed before updating to Facebook"
Every time botpress is restarted, botpress-messenger connects to Facebook and triggers the "Upgraded messenger app webhook with new ngrok url" notification. This happens even when the ngrok url hasn't actually changed. Therefore I think that the url should be checked to see if it has actually been changed before updating to Facebook, not just doing it every time.

[2017-01-13 14:39] slvnperron commented on #8
@AlexGustafsson thanks for creating this issue. The reason why it's updating the webhook every time is because when you check the 'Use ngrok' checkbox, it starts an ngrok process in the background for you (so you don't have to spawn ngrok yourelf). The problem with this approach is that if you kill the bot process, ngrok also gets killed, thus the url changes.

If you are using a Ngrok that you sp

[2017-01-13 14:50] AlexGustafsson commented on #8
That's totally understandable. I misunderstood the option and was spawning my own instance of Ngrok.

Perhaps the wording "use Ngrok" could be improved. Spawning an instance of Ngrok on my own is _using_ Ngrok. Perhaps something in the likes of "Automatically start Ngrok" would be a bit more accurate. Furthermore, adding "pop-over on question mark" (#5) could provide greater detail.

[2017-01-13 14:52] slvnperron commented on #8
100% in agreement. Excellent feedback, thanks! We'll update the module in the next build 👍

[2017-01-13 14:52] #8 closed

[2017-01-17 02:23] akapei commented on #7
Here is how I'm defining it.

[code]

Weirdest thing. Came back to the app today and it's now serving the payload I'm defining and not the crazy string.

[2017-01-17 02:29] slvnperron commented on #7
@akapei are you saying this is now working? that's weird!

[2017-01-30 11:37] devhaoy opened #9 "Botpress x Heroku"
Hey has anyone set up Botpress with Heroku?

My logs giving me an error "Error: Can't set headers after they are sent." so I am obviously messing up my http requests.

I have set all config variable following the botpress-messenger.json and I could setup the webhook properly.

I run index.js from the Procfile with a worker dyno. I have this simple express setup in index.js:

[code]

[2017-01-31 16:37] slvnperron commented on #9
@devhaoy any reason why you are using a custom express instance instead of using botpress's built-in http server?

I would hint you to change the port in the botfile to `process.env.PORT`

[2017-02-02 07:25] devhaoy commented on #9
@slvnperron  thanks I had forgotten Heroku only accepts capital letter PORT, this is why I was setting up my own instance. Now I can connect the webhook using Botpress built-in server, but there is still something I am doing wrong as the bot is not responding (all it does is the automatic answer or shows message as read) and my logs constantly restart the app.

What should I call in the Procfile?

[2017-02-02 15:43] slvnperron commented on #9
cool! Keep in my that the database will reset everyday on heroku as the file system is ephemeral. We're working on a workaround for this

[2017-02-07 18:39] vtrpldn commented on #7
I think I'm going through the same issue right now.

bp.hear listens when the payload is fired from Persistent Menu but quick replies are not working at all, even with the example directly pasted from Boost.

What would be the best way to log the quick reply to see if the issue is the same as @akapei's?

[2017-02-07 19:41] vtrpldn commented on #7
Welp, turns out it was a completely unrelated issue.  But at least I discovered that

`
	bp.hear({
		text: /.+/i
	}, (event, next) => {
		bp.logger.info(event);
	})
`

Is good to log absolutely everything, even sent messages.

[2017-02-08 01:27] slvnperron commented on #7
@vtrpldn would you mind to share what the problem was for people facing the same issue? thanks!

An other catch-all filter can be `bp.hear({ platform: /.*/i }, (event, next) => ...)`

[2017-02-08 18:22] vtrpldn commented on #7
@slvnperron Sure! I misunderstood the Boost and was trying bp.hear quick_replies with type: 'text' instead of type: 'quick_reply'.

I was trying to make it work like this:

but I realized that

is the right way to do so.

[2017-02-08 20:44] arcticbarra opened #11 "Array support fo bp.hear"
Hey there!

Is there any way to add array support for the `bp.hear()` method? I want to match some item inside the array to avoid creating multiple functions with the same content for matching different messages.

Thanks a lot, botpress is awesome!

[2017-02-08 20:47] slvnperron commented on #11
thanks @arcticbarra can you move this issue to the botpress repo? thanks!

[2017-02-08 22:02] arcticbarra commented on #11
Sure, I'll close this one

[2017-02-08 22:02] #11 closed

[2017-03-01 10:13] eduardoportilho commented on #9
Hey! Whats the plan to workaround this ephemeral file system issue? Can I help to implement it somehow?

[2017-03-01 15:53] slvnperron commented on #9
@eduardoportilho yes, we're shipping version `0.1` today with Postgres support, which solves the ephemeral file system issue :)

[2017-03-01 16:58] eduardoportilho commented on #9
great! 👏🏻👏🏻👏🏻

[2017-03-03 15:03] matheusmatos opened #13 "Implement new Messenger Features"
Get new Messenger features into Botpress: https://developers.facebook.com/docs/messenger-platform/changelog#20170302

We are starting with first three features:

### Persistent Menu
Now users can create three levels os submenus, disable composer input, Change the UI Widget to allow child elements on persistent menu and locale support. Now, users can set custom menus for each country.
https://devel

[2017-03-03 16:15] slvnperron commented on #13
Thanks @matheusmatos . How soon can these all be implemented?

[2017-03-05 02:07] acailly opened #15 "Upload an attachment"
Even if it is not well documented, it is actually possible to send the content of an image instead of its url.
It does not require to upload the image somewhere before returning it to the user.

It is very usefull when the image is computed by the bot and it would be nice to add this option.

To do that, you have to add the attribute `filedata` after the `message` part.
See here for an example : h

[2017-03-09 17:39] imthatcarlos opened #16 "Define GET_STARTED postback payload in module UI instead of message"
Currently the UI only allows us to define a text value as an auto-response. There should also be a way to define a payload that would trigger a postback on the UI. So either text response OR payload.

[2017-03-10 03:00] slvnperron commented on #16
Thanks Carlos. We'll do that ASAP :1st_place_medal:

Just out of curiosity, in which case is an hardcoded `GET_STARTED` not sufficient? Thanks!

[2017-03-10 18:07] imthatcarlos commented on #16
Thanks guys. In our case, all bots have `GET_STARTED` payload of `onboard#new_thread` which the framework knows how to process. It just keeps things orderly between all the bots :)

[2017-03-25 17:39] phildionne opened #21 "Ngrok not working when not installed globally"
Scaffolding a new bot with `botpress init` and then `botpress install messenger` seems to download ngrok as a dependency.

However, in an environment with no ngrok installed, doing a `bp start` will not use the locally installed ngrok, and will throw this error `An error has been returned by Facebook API. Status: 400 (Bad Request) (#100) callback_url should represent a valid URL`.

After installin

[2017-03-29 19:07] vinhhap opened #22 "sendTemplate() not working with other types of template except button"
Here is the payload, i got this from [Facebook doc](https://developers.facebook.com/docs/messenger-platform/send-api-reference/generic-template)
[code]

And when ever I call:

```bp.messenger.sendTemplate(userId, payload, { typing: 2000 });```

I got errors:

[2017-03-30 04:51] slvnperron commented on #22
Hi Nguyen,

This error means you haven't whitelisted the URLs in the template in the
"Whitelisted Websites" section of the Messenger module. Closing this :)

On Mar 29, 2017 3:07 PM, "Nguyen Nam Quan" <notifications@github.com> wrote:

[2017-03-30 04:52] slvnperron commented on #22
Let me know if this doesn't work and we'll reopen !

[2017-03-30 04:52] #22 closed

[2017-04-05 05:05] CostaC commented on #8
Had this confusion also.

Option should be called something like "Use Botpress internal ngrok".

"Automatically start Ngrok" could still be confused with the host system's ngrok

[2017-04-12 11:47] houssemFat opened #23 "Not able to get selected option with quick_replies option"
According to documentation, i'm sending a text with quick_replies that contains two buttons, i expect that the bot receive the response (postback type) in the promise function.
[code]
I'm not able to execute the code inside the promise function of bp.messenger.sendText.

[2017-04-15 10:38] znat opened #25 "Persistent menu broken due to change in Facebook Messenger API"
Persistent menus API changed (payload is different to reflect 1.4 changes) so the persistent menu UI of the module won't work.
See platform doc: https://developers.facebook.com/docs/messenger-platform/messenger-profile/persistent-menu

[2017-04-15 10:47] znat commented on #25
Nevermind

[2017-04-15 10:47] #25 closed

[2017-04-23 19:32] AlexGustafsson opened #26 "Facebook error - Tried accessing nonexisting field (whitelisted_domains)"
The following error has recently been popping up under the  botpress-messenger plugin page

[code]

[2017-04-23 20:21] slvnperron commented on #26
Please update your messenger to the newest version. Facebook broke their old APIs behaviour in the new release, so we had to release a patch in Botpress

[2017-04-23 20:21] #26 closed

[2017-04-29 19:36] znat opened #28 "GET STARTED payload event is sent twice"
When setting a payload in the UI for the Get Started event, the following is called twice:

[code]

[2017-04-29 20:32] slvnperron commented on #28
Yeah I think that is not very user-friendly, but the original 'GET_STARTED' event is always triggered, wether you defined a custom postback or not. The reason it is called twice is that you named it 'GET_STARTED' like the one already fired.

Does that make sense?

[2017-04-30 01:30] znat commented on #28
That was exactly it. Thanks

[2017-04-30 01:30] #28 closed

[2017-05-15 13:24] sanampreet opened #33 "deploying to heroku"
i ha e deployed my bot to heroku but not getting what to put in hostname in messenger module instaed og ngrok hostname

[2017-05-15 15:43] Jalepeno112 commented on #33
@sanampreet you should use the server URL of your heroku app. So whatever URL you are at to load the botpress dashboard is the same URL you should use for your bots hostname.

Herokus urls are typically [app_name].heroku.com. Where the [app_name] is something like *nameless-hollow-12345*.

[2017-05-15 15:58] sanampreet commented on #33
@Jalepeno112  it is still giving this error

An error occured during communication with Facebook

Details: An error has been returned by Facebook API. Status: 400 (Bad Request) (#2200) Callback verification failed with the following errors: HTTP Status Code = 404; HTTP Message = Not Found

[2017-05-15 16:34] slvnperron commented on #33
@sanampreet <https://github.com/sanampreet> What's your heroku url ?

On Mon, May 15, 2017 at 11:58 AM, sanampreet <notifications@github.com>
wrote:

--
*Sylvain Perron*
https://botpress.io
Cell | +14184407586

[2017-05-30 10:50] daehli opened #36 "Allow nested menu in persistentMenuItems"
I try to add a Nested menu in BotPress. With the UI it's impossible to add a NESTED menu. So I created a botfile-messenger.js to but all me config.

The file look like this.
[code]

Went a press __SAVE__ on the UI, Botpress return me this message:
**An error occurred during you were trying to save configuration: Error setting persistent menu An error has been returned by Facebook API. Status: 400

[2017-06-05 10:59] epaminond opened #38 "Config doesn't get loaded after Heroku-deployment"
After deploying to heroku, messenger configuration page remains empty when opened (no fields/buttons), and several requests fail with 404-error:

[code]

[2017-06-05 11:20] slvnperron commented on #38
Hi Alex, can you confirm you are using Postgres on Heroku?

https://docs.botpress.io/fundamentals/database.html#heroku

[2017-06-05 11:23] epaminond commented on #38
@slvnperron , yes, I'm using postgres there.

[2017-06-05 11:24] epaminond commented on #38
I tried it several times. And initially it worked fine for a few hours before issue occurred. But now I get it for newly created project either.

[2017-06-05 11:32] slvnperron commented on #38
Weird, can you check your heroku logs and see if there's any error on this side?

[2017-06-05 11:37] epaminond commented on #38
I can only see 404-responses there:
[code]

[2017-06-05 11:48] slvnperron commented on #38
Which version of botpress-messenger do you have installed (you can see that in the bot boot logs)? I also assume that botpress-messenger is in your package.json's dependencies

[2017-06-05 11:50] epaminond commented on #38
botpress-messenger is locked to 2.1.1 via package-lock.json
Here are sources: https://github.com/epaminond/beautybot

[2017-06-05 12:17] slvnperron commented on #38
@epaminond Error replicated, investigating now

[2017-06-05 12:24] slvnperron commented on #38
@epaminond Seems like it can't connect to your DB, can you confirm this in your logs (upper right menu). How are you setting postgres' settings on heroku?

[2017-06-05 12:35] epaminond commented on #38
Logs show these errors:
[code]

To set up DB, I've set these env-variables:  DATABASE, DATABASE_URL, PG_DB, PG_HOST, PG_PASSWORD, PG_PORT, PG_USER.

[2017-06-05 12:46] slvnperron commented on #38
The problem is that you're not looking into the ENV variables anymore because you load your postgres.json thing.

Here's what I did:

[code]

DATABASE_URL is set by default by heroku

[2017-06-05 13:54] epaminond commented on #38
Oh it seems i accidentally let postgres.json get into repo. Thanks for quick response! :)

[2017-06-05 14:35] epaminond commented on #38
@slvnperron , I've fixed that issue, but got another one. Logs show something like this:

[code]

On middleware tab locally I have botpress-messenger, but it's not there in deployed app.

[2017-06-05 14:46] slvnperron commented on #38
@epaminond Found the issue, will push a fix now. Please try again in 10m

[2017-06-05 16:10] slvnperron commented on #38
@epaminond You'll need to upgrade to messenger@2.1.2 -- Let me know if that worked. Thanks

[2017-06-05 20:41] epaminond commented on #38
@slvnperron , this helped, thanks!

[2017-06-05 20:41] #38 closed

[2017-06-13 16:12] AnthonyGraindorge commented on #36
Did you solved your error ? I'm in the same situation.

[2017-06-13 21:26] epaminond commented on #36
@daehli , it seems actual request that is being sent with your config would be:
[code]

And endpoint is also different: https://graph.facebook.com/v2.7/me/**thread_settings**?access_token=xxx

[2017-06-14 14:04] AnthonyGraindorge commented on #36
This worked fined for me 👍

[code]

[2017-07-03 12:06] tanmoy12 opened #40 "messenger templates not generating images"
image: `${process.env.BOT_BASE_URL}/IMG.jpg`

what does this mean? where do i keep the image? is this related to postgresql?

[2017-07-03 12:12] slvnperron commented on #40
`process.env.BOT_BASE_URL` is simply an environment variable that points to the public url of your bot (i.e. your server or ngrok hostname). Then `IMG.jpg` is the name of the file you hosted under the `./static` folder at your bot's root.

[2017-07-03 12:12] #40 closed

[2017-07-03 12:40] tanmoy12 commented on #40
I'm using ngrok hostname, templates show images available in public URLs,
I don't see a ./static folder.
What if i wanted to load an image from my PC?
Thank you for the response.

[2017-07-03 12:44] slvnperron commented on #40
You can create a `static` folder in your bot's root folder and put the files you want to host publicly there

[2017-07-03 12:50] tanmoy12 commented on #40
I tried that. I created a **static** folder and put IMG.jpg file there.
this is my static_data file:
    module.exports = {
    cities: [
        { name: 'San Francisco', code: 'SF', image: '${process.env.BOT_BASE_URL}/IMG.jpg' },
        { name: 'New York', code: 'NY', image: '${process.env.BOT_BASE_URL}/IMG.jpg' },
        { name: 'Frankfurt', code: 'FRA', image: '${process.env.BOT_BASE_URL}/IMG

[2017-07-03 12:54] slvnperron commented on #40
But have you defined BOT_BASE_URL ?

[2017-07-03 13:01] tanmoy12 commented on #40
No i haven't . how do i do it?

[2017-07-03 13:40] slvnperron commented on #40
It's an [environment variable](https://medium.com/@rafaelvidaurre/managing-environment-variables-in-node-js-2cb45a55195f). Simply make it the URL of your bot, for example your heroku url or your ngrok url.

[2017-07-04 09:39] tanmoy12 commented on #40
I read through the article.
ngrok seems to generate URLs dynamically everytime i run **bp start**, so i could not set the URL beforehand,

Are there any tutorials on setting environment variables?
It will be very helpful, thank you.

[2017-07-05 00:09] slvnperron commented on #40
I use [pagekite](pagekite.net) which works much more reliably and give me a static url

[2017-07-11 20:48] fnnrodrigo opened #43 "Not being able to verify webhook"
Hi there!
I'm new to the botpress community and just finished developing my first bot. Now I'm trying to get it to work on my server. The problem is that while trying to verify the webhook.

Trying from facebook I received this error: "The URL couldn't be validated. Callback verification failed with the following errors: HTTP Status Code = 403; HTTP Message = Forbidden"
My url: https://b.42layers.

[2017-07-12 08:55] ariskemper opened #44 "Error: Connection is disabled, look to your config and set enabled to true if you want to connect your bot"
In a new fresh installation of our bot, we get this error:

Error: Connection is disabled, look to your config and set enabled to true, if you want to connect your bot.
The botpress-messenger.config.yaml is created on first start of the bot. If, we setle the configuration via botpress gui, we get another error on saving:

Details: An error has been returned by Facebook API. Status: 400 (Bad Reques

[2017-07-12 11:06] fnnrodrigo commented on #43
After setting up a new server without easyengine and adding the new messenger configuration file it worked!

[2017-07-12 11:06] #43 closed

[2017-07-13 03:31] slvnperron commented on #44
Thanks @ariskemper , will have a look

[2017-07-14 07:16] slvnperron commented on #44
@ariskemper Fixed

[2017-07-14 07:16] #44 closed

[2017-07-19 12:36] m0rth1um commented on #33
I noticed that the MESSENGER_HOST env var is missing in the index.js. I made a pull request to correct this. My Dokku deploys are working now with this changes.

[2017-07-22 14:08] slvnperron commented on #33
Thanks @m0rth1um ! Closing this as we haven't heard back from the author of the issue

[2017-07-22 14:08] #33 closed

[2017-08-10 04:29] kalanka29 commented on #8
@slvnperron : i cannot find the ngrok checkbox available in my botpress ,so that I can't run the messenger bot locally.what should I do ? plz help

[2017-08-11 08:18] slvnperron commented on #8
@kalanka29 Please get ngrok or pagekite and update the hostname manually from either the UI or the botpress-messenger.config.yml file

[2017-08-22 07:05] hoangweb opened #48 "how allow all facebook users use my app?"
i have to public my facebook app, & deplpoy botpress on heroku, my account worked & add tester user that worked. But i want any user in facebook should work? how?

[2017-08-22 09:14] m0rth1um commented on #48
You have to request the 'pages_messaging' submission on the Facebook developers page. Go to the settings of your page on https://developers.facebook.com, then choose 'Messenger' in the left menu and then scroll down to 'App Review for Messenger'.

[2017-08-24 02:50] hoangweb commented on #48
thank you!

[2017-08-24 02:57] hoangweb opened #49 "why all users use share conversation?"
i need each users has private conversation.
`bp.convo.start(event, convo => {
	const defaultThread = convo.threads['default'] ;
	//cause share conversation between many fb users
	defaultThread.addQuestion('#quest1',[
		{
			default: true,
			callback: (response) => {}
		}
	])
	//or use this
	convo.ask(message, function(response, convo) { /* ... */ })
})`

[2017-08-24 02:58] hoangweb opened #50 "Why all users share same conversation?"
i need each users has private conversation.
`
bp.convo.start(event, convo => {
	const defaultThread = convo.threads['default'] ;
	//cause share conversation between many fb users
	defaultThread.addQuestion('#quest1',[
		{
			default: true,
			callback: (response) => {}
		}
	])
	//or use this
	convo.ask(message, function(response, convo) { /* ... */ })
})
`

[2017-08-24 12:04] slvnperron commented on #50
Which module are you using?

[2017-08-24 12:05] slvnperron commented on #49
Duplicate

[2017-08-24 12:05] #49 closed

[2017-08-24 13:28] hoangweb commented on #50
i fixed my issue, problem is pass convo param to function, & use global convo.

[2017-08-24 15:11] hoangweb opened #51 "thread.addQuestion trigger many default callback?"
thread.addQuestion() with quick_replies - how to accept single answer when hit many answer continuously. Because when i enter 4 text (mean 4 answers), botpress queued all 4 answers & call default callback 4 times.

i need check: if bot pause, then dequeue default callback.
thank you!

[2017-08-24 17:24] #48 closed

[2017-08-24 17:25] #50 closed

[2017-08-24 17:25] slvnperron commented on #51
You can switch thread for that

[2017-08-25 02:01] hoangweb commented on #51
sory, not work.

[2017-09-21 18:44] jsalwen opened #53 "waitDelivery is not being applied for Messenger"
I am running through the [Episode 2: Building a Reminder Bot](https://www.youtube.com/watch?v=gD2Fhjlq0xE&t=304s) tutorial, and the `waitDelivery` is not working:

[code]
The text messages are delivered, but not in order. I added logging to the botpress-messenger, and I have confirmed the `waitDelivery` is set to `true`.

I'm happy to debug more, but I'm unclear on where in the code the messages a

[2017-11-08 07:59] VishalWaman commented on #23
+1

[2017-11-10 16:39] kwiss opened #55 "quick reply with generic template"
Hi,

is there a way to have template attachement with quick reply template ?
if you check the facebook doc it's possible, i have implemented this in botpress with http request.

https://developers.facebook.com/docs/messenger-platform/send-messages/quick-replies

Problem is since we don't pass convo object convo is break & we can't use something like convo.switch later when the promise is resolved.

[2017-11-10 18:44] Reminouche commented on #55
Same problem here.

sendAttachment function (in messenger.js) must be able to take as parameter 'template' type.

Payload looks like :

[code]

[2017-11-15 15:32] michaelulin opened #58 "GET_STARTED doesn't work on first attempt"
When a new user selects Get Started on Messenger, the GET_STARTED postback is not triggered. I've tried using the default setting and updating the postback on the GUI, but neither seem to work. If a user deletes their conversation, restarts a new conversation and then clicks get started, the postback works correctly. Here's the code from the index.js file:

bp.hear({ platform: 'facebook', type: 'p

[2017-11-15 19:12] michaelulin commented on #58
I think this might have to do with using HITL in conjunction with messenger. I get this error with a new user:

11:02:56 - error: Unhandled Rejection in Promise:  Promise {
  _bitField: 18087936,
  _fulfillmentHandler0: TypeError: Cannot read property 'id' of undefined
    at createUserSession (/node_modules/botpress-hitl/bin/webpack:/src/db.js:48:13)

[2017-11-15 19:17] Reminouche commented on #9
Personally, I use botpress on heroku and everything is fine

[2017-11-15 21:15] slvnperron commented on #9
Yes thanks Remi, this has been solved with the introduction of Postgres :)

[2017-11-15 21:15] #9 closed

[2017-11-16 11:59] Visovsiouk opened #59 "YAMLException: bad indentation of a sequence entry in examples"
I'm duplicating [this ](https://github.com/botpress/botpress/issues/246)issue from the main Botpress repo, since I don't know where does the bug stem from.

I'm trying to use your Messenger examples (e.g. https://botpress.io/examples/fb_send_list), but they all throw an error inside `content.yml` :

` YAMLException: bad indentation of a sequence entry at line x, column y:`

This error references l

[2017-12-13 01:08] jsalwen opened #60 "listen for event in a module from another module"
@slvnperron Is it possible to listen for an event in a module from another module?

I am trying to write a module for dashbot. Ideally it could listen for when `raw_send_request` is fired, and then it could take the data and pass it onto dashbot.

Within the module, I can access the `bp` object, which has a list of the loaded modules, but I can't find a way to listen for events.

Hope you can help

[2017-12-13 03:48] slvnperron commented on #60
@jsalwen Can you try with `bp.messenger._internal.on('raw_send_request')` as [per this line](https://github.com/botpress/botpress-messenger/blob/1bfb5eefd9de70add292be6e0d079ff98ec32ed1/src/index.js#L194) ?

[2017-12-13 04:33] jsalwen commented on #60
@slvnperron I tried that before asking:
`bp.messenger._internal` returns `null`

I'll try again, but if you have other ideas, let me know

[2017-12-13 06:47] jsalwen commented on #60
@slvnperron looks like a race condition

I am trying some stuff and I may submit a PR. thanks.

[2017-12-13 17:15] slvnperron commented on #60
@jsalwen ok thanks, just to make sure, are you getting this on your module's `ready` method?

I think the safe way is to expose an official event emitter in the messenger module itself.

[2017-12-13 22:59] jsalwen commented on #60
@slvnperron yes, inside `ready`, bu there is still a race condition.

`bp.messenger._internal = messenger;` is set after my modules `ready` is called.

[2017-12-13 23:19] slvnperron commented on #60
@jsalwen OK that's what I thought too. Let's modify the botpress-messenger module to expose the event in this case.

Just in case, can you try the following?

[code]

Not sure if that will work though

[2017-12-13 23:22] slvnperron commented on #60
OK no that won't work. Perhaps we can expose a `bp.messenger.getInstance -> Promise`?

[2017-12-14 17:40] jsalwen commented on #60
@slvnperron Events! that is what I was looking for. the issue now appears to be that that module does not `emit` its events to `bp.events`

I'll submit a PR for your review.

[2017-12-19 00:48] jsalwen commented on #60
based on @slvnperron comments in PR https://github.com/botpress/botpress-messenger/pull/61#issuecomment-352603387

`bp.messenger` should:
* inherit from `EventEmitter`
* be fully initialized at `ready` stage

I will begin to work on this and add a PR

[2017-12-21 04:39] akapei opened #62 "Error setting trusted domains - The parameter fields is required"
I have had my bot working for about 6 months now and all of a sudden I have been getting this error:

`Error: Error setting trusted domains
An error has been returned by Facebook API.
Status: 400 (Bad Request)
(#100) The parameter fields is required
at /root/bot/node_modules/botpress-messenger/bin/webpack:/src/messenger.js:482:13
23:42:07 - error: [notification::botpress] Error updating Messenger

[2017-12-21 05:04] slvnperron commented on #62
It happened about 3 times in the past that Facebook updates and broke their
API without advising anybody. Will look into it tomorrow.

On Dec 20, 2017 11:39 PM, "Phillip Havea" <notifications@github.com> wrote:

[2017-12-21 05:26] akapei commented on #62
That old chestnut. Yeah, it's happened to me on other apps too. I was posting in case it was a known issue. I can have a look too to see if I can't figure it out.

[2017-12-22 03:50] vinhhap opened #63 "After adding an item in Persistent Menu the value reset to "undefined""
After adding new an item to persistent menu, hit save button and refresh the page, the value of the item always reset to undefined.
![capture](https://user-images.githubusercontent.com/13334065/34284617-e2de3d1c-e705-11e7-87e5-78b88ede6964.PNG)

[2017-12-22 20:58] chrisribe commented on #62
Ahhh well that explains why I have been trying to get this to work for 3 hours !!!
Please advise when you figure it out.

Thanks!

[2017-12-27 12:04] saniko opened #64 "Triggering bot by user comment"
Hello,
Can botpress-messenger trigger chatbot by user comment on a post?
Same as manychat or chatfuel plugins

Best

[2017-12-27 19:55] slvnperron commented on #64
@saniko Hi, yes. Simply subscribe your facebook app to the event and listen for it in your bot.

[2017-12-27 19:55] #64 closed

[2017-12-29 00:31] jsalwen commented on #62
@slvnperron I will do a PR for this

[2017-12-29 00:46] jsalwen commented on #63
I have confirmed that I'm seeing this too

[2018-01-03 18:06] chrisribe opened #66 "How to build and install into botpress ?"
Hi noob question but,

I want to rebuild botpress-messenger and redeploy into my working botpress app.
Any tips or tutorial on how to do this ?

Thanks

[2018-01-08 19:01] chrisribe commented on #66
Bump ?

[2018-01-08 19:30] slvnperron commented on #66
Hey Chris, just wrote the following guide for you, I hope that is useful.

https://www.evernote.com/l/ACpkgZ2BGyBMFI9Q-BaYEoI4pnmW6nHryTU

Let me know if that works.

Thanks

[2018-01-11 05:25] saitai0802 commented on #62
Thank you guys, Has this fix been released to the master already?

[2018-01-11 18:15] jsalwen commented on #62
@saitai0802 I believe so

[2018-01-15 09:39] saitai0802 commented on #62
But I still got this error, do you know what made this happened?
Version List:
`09:37:18 - info: Starting botpress version 1.1.11
09:37:20 - info: Loaded botpress-api.ai, version 2.1.7
09:37:20 - info: Loaded botpress-hitl, version 1.0.10
09:37:20 - verbose: [UMM] Enabled for facebook
09:37:20 - info: Loaded botpress-messenger, version 2.2.9
09:37:20 - verbose: [UMM] Enabled for web
09:37:20 - inf

[2018-01-15 10:31] saitai0802 commented on #62
i am wondering if Facebook updates something again without notice anyone

[2018-01-15 16:32] jsalwen commented on #62
@slvnperron please deploy the latest version of `botpress-messenger` to npm

@saitai0802 it looks like `2.2.9` does not contain the fix, for now you can install the package from github
[code]

[2018-01-16 01:56] saitai0802 commented on #62
thank you @jsalwen
After running the line you provided above.
my package.json file changed the line to
`botpress-messenger": "git+https://github.com/botpress/botpress-messenger.git"`

and the botpress-messenger folder inside my botpress folder removed a bin folder. Then I can't see the botpress-messenger in the sidebar inside my botpress platform.

During the installation, there was a error:
[root

[2018-01-16 03:17] saitai0802 commented on #62
update: just found that was a bug inside my /index.js file. but still, even my chatbot works perfectly with api.ai and messenger. There is still an error when run
`botpress start`

Error:
09:37:20 - info: Bot launched. Visit: http://localhost:3000
09:37:26 - error: Error: Error setting trusted domains
An error has been returned by Facebook API.
Status: 400 (Bad Request)
(#100) The parameter fields

[2018-01-16 16:23] gcfabri commented on #62
Still facing issues with Facebook API. Clean installation and latest published packages.

[code]

[code]

[2018-01-16 18:01] jsalwen commented on #62
@saitai0802 @gcfabri
The `2.2.9` version of `botpress-messenger` on `npm` does not contain the latest code, so it does not fix the trusted domain issue.

Once the new version of the module is published to `npm`, then you can use npm or yarn to install/update the module.

Until then, you will have to install from github.
[code]
note: I believe the version will be `2.2.8` if you install from github

[2018-01-17 13:50] to7be commented on #62
Thank you @jsalwen. This worked for me!

[2018-01-17 15:32] slvnperron commented on #62
Hey guys, I've just published the latest version to npm. You can now install it with `npm install botpress-messenger`. The version is `2.2.10`.

Thanks @jsalwen for the fix, apologies in delay publishing this change.

[2018-01-17 15:32] #62 closed

[2018-01-17 15:33] mrbarletta commented on #62
thanks @slvnperron  its working now :)

[2018-01-17 17:54] gcfabri commented on #63
Please, any updates on this issue?

[2018-01-17 18:36] jsalwen commented on #63
I can have a look at this

[2018-01-20 11:35] ryanc200427 opened #68 "Get Location Button Value from Convo Thread with UMM"
Hi

How to get the longtitude and latitude from UMM created facebook location button?

I cant get the value from console.log(response)

This is my code
**Content.yml**
`address:
  - typing: true
    text: Enter your home address using Send Location
    quick_replies:
      - content_type: location
        title: location
        payload: HOME_ADDRESS`

**index.js**
`convo.createThread('address')

[2018-01-20 16:28] nielsstadeus opened #69 "Add message_echoes event to incoming features"
I would like to be able to catch a Facebook Messenger "message_echoes"-event to detect if someone manualy sends a text message from a Facebook page. At the moment this isn't a incoming feature. :-)

Some info from the developers.facebook page:
https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/message-echoes

[2018-01-22 13:08] SilvaLA59 opened #70 "[Error] Debugging bot"
Hi,
I'm trying to debug my project following this doc [https://botpress.io/docs/advanced/debug/#visual-studio-code-](url)

And I have this error "Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: Parse Error)."

Does anyone know how can I do this?

[2018-01-23 07:02] saitai0802 opened #72 "Question about event.user object"
Hi, Thank you for providing such amazing chatbot tool. I just wanna know if there is a plan to somehow provide the user last_ad_referral attribute to event.user object?

https://developers.facebook.com/docs/messenger-platform/identity/user-profile

[2018-01-23 16:35] slvnperron commented on #72
Hi @saitai0802 , thanks for opening this ticket. This is not currently on our roadmap but if somebody in the community implement this, then we will merge and publish this without problem.

----

## Implementation Suggestion

The [`getOrFetchUserProfile`](https://github.com/botpress/botpress-messenger/blob/master/src/users.js#L30) function should use the [User Tags](https://botpress.io/docs/foundam

[2018-01-23 19:23] jsalwen commented on #63
The issue is that you have to click *Help* button at the top of the **General** section

I think it might be a good idea to warn users if leaving a page without changes

[2018-01-24 14:35] armsofter opened #73 "How I can get new comment event in bot page"
I need to get event object like it is working on messages. So depending on that send personal messages to users that have commented on any post in FB page.

[2018-01-25 13:54] to7be opened #74 "How add persistent menu items in config.yml"
How do I handle the property `persistentMenuItems: []` within the `botpress-messenger.config.yml`?

I already tried many different notations and I couldn't find any notes in the documentation. It only mentions:

But there are no further instructions.

When I try adding persistent menu items through the UI, it always put 'undefined' into the value field (even after I correctly saved the page).

[2018-01-25 17:40] slvnperron commented on #74
Hi, the payload is identical to what you would normally send the Facebook API

https://developers.facebook.com/docs/messenger-platform/send-messages/persistent-menu

[2018-01-26 19:16] jsalwen opened #75 "[Enhancement] remove the reference to botpress module"
related to: https://github.com/botpress/botpress/issues/396

During development, the following causes an error

https://github.com/botpress/botpress-messenger/blob/82d327ca01f5dfad8696d96a85c60b4e64d769b9/src/db.js#L1

As of, https://github.com/botpress/botpress/pull/404, the module now receives the DatabaseHelper in `init` and `ready`, so this import can be removed.

Please assign to me

[2018-01-26 21:27] jsalwen commented on #75
PR submitted

[2018-01-29 01:14] OAyomide commented on #68
Hi. Have you tried using this in a `convo` thread?

Also, did you listen for the location event? say: `bp.hear({
             type: 'location'
}, (event, next) => {
      //your logic here?
}`

[2018-01-29 01:21] OAyomide commented on #74
in addition to what @slvnperron  said: check out [this gist ](https://gist.github.com/OAyomide/a3eb76e29f7faa2888fe22d48a8c6f70)I made for another person who asked the same question:. Simply remove the values and have fun with botpress!

[2018-01-29 08:32] to7be commented on #74
Thank you both so much! Never thought about just inserting the normal payload into the YAML.

[2018-02-01 01:11] OAyomide opened #78 "Checkbox plugin bug"
When listening for the optin event, error is returned:
          `Unhandled Rejection in Promise:  Promise {
  <rejected> Error: Undefined binding(s) detected when compiling SELECT query: select * from "users" where "platform" = ? and "userId" = ?`

Going through the docs ([this](https://developers.facebook.com/docs/messenger-platform/reference/webhook-events/messaging_optins)), it is mentioned th

[2018-02-01 21:10] emirotin commented on #78
Thanks for reporting! Your analysis looks logical, we'll try to find time to investigate it in depth soon.

[2018-02-02 03:03] slvnperron commented on #78
@OAyomide Thanks for reporting this. I never used the checkbox, do you have a fix suggestion? How do we get to know who's the user?

[2018-02-02 07:22] ryanc200427 commented on #68
`
 bp.hear(/GET_STARTED/i, (event, next) => {

    **bp.convo.start(event, convo)**
    const txt = txt => bp.messenger.createText(event.user.id, txt)

   convo.createThread('location')
      convo.threads['location'].addQuestion('#address',[
        {
          default: true,
          type: 'location',
          callback: (response) => {
            console.log(response)
          }
        }

[2018-02-02 18:02] OAyomide commented on #78
@slvnperron From the docs, there is no need to recognize the user using the ID before one can message the user. Since it requires a user session to be able to use the checkbox plugin, Facebook knows which user we are dealing with.

So I suggest that we catch the `user_ref` from the `optin` object sent to our webhook. Then use the `send api` to send message to the user. The `send api` in this case

[2018-02-02 19:53] slvnperron commented on #78
@OAyomide That makes sense

[2018-02-03 08:34] OAyomide commented on #78
@slvnperron so either way, we need to identify the user on our end. So how are we going to do that? What do you mean by craft manually? care to buttress that?

Yea, working towards making the PR, but dont have much time, so it can be anytime.

[2018-02-06 15:53] OAyomide commented on #74
@slvnperron I think you should close this issue.

[2018-02-07 12:09] #74 closed

[2018-02-11 13:52] OAyomide commented on #68
@ryanc200427 just seeing this.... you didnt attach a callback to your bp.convo.start

`bp.convo.start(event, convo => {
})`

[2018-02-11 17:46] surya103 commented on #62
Hi, I still have similar issue.. My botpress-messenger version is 2.2.10

[2018-02-15 03:34] ryanc200427 commented on #68
sorry i forgot to put that one.. but still i couldnt get the response from location

[2018-02-16 10:10] OAyomide commented on #68
Hey @ryanc200427 check out [this gist](https://gist.github.com/OAyomide/8d774a72a9bbdac69891cbafaa88f2ee)

[2018-03-02 04:44] fstn opened #82 "Profile URL encoding problem"
The profile picture_url has some encoding problems, this is the url return by the module:
`
https://scontent.xx.fbcdn.net/v/t31.0-1/15895525_1283121105087380_8624855793118966779_o.jpg$1oh=a3348488a2e2f9ad21f9cbd8516721ef&oe=5B035064`

This is the good one:
`
https://scontent.xx.fbcdn.net/v/t31.0-1/15895525_1283121105087380_8624855793118966779_o.jpg?oh=a3348488a2e2f9ad21f9cbd8516721ef&oe=5B035064`

[2018-03-02 04:54] fstn commented on #82
The url is also the bad ne in database, I don't know what kind of encoding problems  can  do that

[2018-03-13 09:50] sportevo opened #84 "bot works locally but not on messenger while hosted via ngrok"
i've created my  bot and test it locally with the chat emulator and there it was working without any problem replacing to all the incoming message, so then i tried to connect it to messenger using a ngrok link but when i try to send a message on messenger it doesn't reply and in the logs i've this error.

![image](https://user-images.githubusercontent.com/33492443/37334426-1fc1f6d4-26ac-11e8-85cd-

[2018-03-14 08:17] sonurkara opened #85 "Error: An error has been returned by Facebook API. Status: 400 (Bad Request)"
Hi,
our bot works well on facebook on browser, how ever when i've try it via mobile messenger bp logs this;

Error getting user profile: Error: An error has been returned by Facebook API.
Status: 400 (Bad Request)
(#2) Service temporarily unavailable

is this issue facebook or botpress related, and what i have to do to solve ?
best regards.

[2018-04-04 15:49] trish415 commented on #15
I see this is possible through the Facebook Send API, but does Botpress support it in UMM?

[2018-04-27 05:56] sangeetjass commented on #85
I am getting the same error, and my bot has almost become unresponsive, as soon as this error pops up, and its having very frequently..

[2018-04-27 19:02] slvnperron commented on #85
Hi guys, seems like the Facebook API is facing some issues from time to time.